* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: 300;
}

body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: "Microsoft YaHei";
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: "Microsoft YaHei";
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: 300;
}

.wrapper {
    background: #ee9ca7;
    background: -webkit-linear-gradient(top left, #ee9ca7 0%, #ee9ca7 100%);
    background: linear-gradient(to bottom right, #ee9ca7 0%, #ee9ca7 100%);
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.messagebox{
    width: 80%;
    height: 80%;
    max-width: 550px;
    max-height: 686px;
    margin: 4rem auto;
    border: antiquewhite 1px solid;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.99;
    text-align: center;
    position: relative;
}

.messagebox #userImg{
    width: 100%;
}

.messagebox #userName{
    color: #504f4f;
    padding-top: 1rem;
}

.messagebox #line{
    height: 0.2rem;
    background-color: #ee9ca7;
    margin-top: 20px;
    margin-left: 34%;
}

.messagebox .message{
    color: #504f4f;
    margin:0 auto;
    padding-top: 40px;
    /* text-align: left; */
    width: 80%;
}
.message div{
    padding: 5px;
}

.message h6{
    color: #eab3bb;
}

.message p{
    font-size: 0.8rem;
}

.suprise{
    text-align: center;
    height: 45px;
    background-color: antiquewhite;
    border-radius: 3px;
    line-height: 45px;
    color: #504f4f;
    display: none;
}